body {
  text-align: right;
  font-family: "Tajawal", sans-serif;
  background-color: #f5f5f5;
}
/* navigation bar */
nav {
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000014;
  height: 4.3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-center {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.nav-links {
  align-self: flex-end;
  padding-bottom: 20px;
}
nav a {
  color: #78cab7;
  text-decoration: none;
  margin-left: 30px;
}
nav a:hover {
  color: #78cab7;
  text-decoration: none;
}
nav img {
  width: 50px;
  margin-left: 100px;
}
.active {
  font-weight: bold;
  border-bottom: 2px #fcdb64 solid;
  padding-bottom: 5px;
}

/* main content */
.home__content-center {
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000014;
  width: 75%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 27px;
}

/* header */
.home__header {
  border-bottom: 1px #ecefee solid;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}
.home__header h1 {
  color: #53ae9e;
  font-weight: bold;
  font-size: 3.2em;
}
.home__header p {
  color: #969a99;
  font-size: 1.3em;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 300;
}
.home__header a,
.q-search__content section a,
.home__majors-card a {
  background-color: #f8db77;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #707070;
}
.home__header a:first-of-type {
  margin-left: 10px;
}
.home__header section img {
  width: 260px;
}

/* quesion search panel  */
.home__titles {
  color: #78cab7;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}
.q-search__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px #ecefee solid;
  height: 150px;
}
#q-search-box {
  background: #ecefee 0% 0% no-repeat padding-box;
  border: 0.800000011920929px solid #cccccc;
  border-radius: 5px;
  width: 50%;
}
.q-search__content section select {
  background: #ecefee 0% 0% no-repeat padding-box;
  border: 0.800000011920929px solid #cccccc;
  border-radius: 5px;
  padding: 5px 15px;
}
.q-search__content section {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.q-search__content section a {
  display: flex;
  justify-content: center;
  align-content: center;
}
.q-search__content section a i {
  margin-right: 80px;
}

/* majors panel */
.home__majors {
  width: 100%;
  border-bottom: 1px #ecefee solid;
  display: flex;
  flex-direction: column;
}
.home__majors-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}
.home__majors-card {
  background-color: #fff;
  box-shadow: 0px 24px 48px #2c27381d;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  height: 15em;
  width: 12em;
  position: relative;
}
.home__majors-card img {
  max-width: 170px;
  border-radius: 10px;
}
.home__majors-card h4 {
  color: #78cab7;
  margin-top: 20px;
}
.home__majors-card a {
  padding: 7px 15px;
}
.home__majors-card i {
  color: #bddd76;
  font-size: 1.7em;
  position: absolute;
  left: 5px;
  top: 5px;
}
#show-all-courses {
  align-self: flex-end;
  margin-left: 10%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration: none;
  color: #acacac;
  font-weight: bold;
}

/* numbers panel */
.home__numbers {
  height: 160px;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  padding: 0px 30px;
  background-color: #fff;
  color: #78cab7;
  box-shadow: 0px 3px 6px #00000014;
}
footer section a,
footer section a:hover {
  color: #78cab7;
  text-decoration: none;
  margin-left: 10px;
}

.footer-contact a,
.footer-contact a:hover {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  margin-left: 40px;
}
/* Medium Screens */
@media (min-width: 600px) and (max-width: 900px) {
  /* header */
  .header-description {
    display: flex;
    flex-direction: column;
    height: 250px;
  }
  .home__header {
    height: 500px;
  }
  .home__header h1 {
    font-size: 2em;
  }
  .home__header a {
    padding: 5px;
    width: 50%;
    margin-top: 20px;
  }
  .home__header section img {
    width: 230px;
  }
  br {
    display: none;
  }
  /* question search panel */
  .q-search__content {
    height: 200px;
  }
  .q-search__content section {
    margin-top: 10px;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
  }
  .q-search__content section select {
    width: 170px;
  }
  .q-search__content section a {
    padding: 7px 15px;
  }
  /* major panel */
  .home__majors {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .home__majors-parent {
    height: fit-content;
    flex-wrap: wrap;
  }
  .home__majors-card {
    margin-bottom: 30px;
  }
  /* footer */
  footer {
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  footer section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-contact {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }
  .footer-contact a,
  .footer-contact a:hover {
    margin-left: 12px;
  }
}
/* Small Screens */
@media only screen and (max-width: 600px) {
  /* header */
  .header-description {
    display: flex;
    flex-direction: column;
    height: 250px;
  }
  .home__header {
    height: 500px;
  }
  .home__header h1 {
    font-size: 2em;
  }
  .home__header a {
    padding: 5px;
    width: 100px;
    margin-top: 20px;
  }
  .home__header section img {
    width: 230px;
  }
  br {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .home__header {
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
  }
  .q-search__content {
    height: 200px;
  }
  .q-search__content section {
    margin-top: 10px;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
  }
  .q-search__content section select {
    width: 170px;
  }
  .q-search__content section a {
    padding: 7px 15px;
  }
  /* major panel */
  .home__majors {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .home__majors-parent {
    height: fit-content;
    flex-direction: column;
  }
  .home__majors-card {
    margin-bottom: 30px;
  }
  /* footer */
  footer {
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  footer section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-contact {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }
  .footer-contact a,
  .footer-contact a:hover {
    margin-left: 12px;
  }
}
