body {
    text-align: right;
    font-family: "Tajawal", sans-serif;
    background-color: black;
}

/* text bellow the image */
h3 {
    color: #78cab7;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: maroon;
}
.container {
    background-color: #78cab7;
}
/* image */
.q-done {
    background-color: #78cab7;
    width: 600px;
    height: 500px;
}

/* buttons */
.q-button {
    background-color: maroon;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 4%; */

    background-color: #f8db77;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: #707070;
    margin-bottom: 30px;
}
