/* heading titles */
h3 {
    color: #78cab7;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* question card */
.ans-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15px;

    margin-bottom: 30px;
}
.answer-card {
    border-bottom: 1px #ecefee solid;
}

/* question content */
.ans-container {
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000014;
    border-radius: 16px;
    padding: 30px;
    margin-bottom: 30px;
}
.ans-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #969a99;
}

/* interactions */
.right-div {
    text-align: center;
}
.ans-interactions {
    padding-top: 10px;
}
.ans-interactions a {
    color: #969a99;
    text-decoration: none;
    text-align: center;
}
.show-q-btn {
    align-self: flex-end;
}
.show-q-btn a {
    color: #78cab7;
}
.show-q-btn a i {
    color: #acacac;
}
/* Large Screens */
@media (min-width: 901px) {
    .ans-content {
        width: 80%;
    }
}
/* Medium Screens */
@media (min-width: 600px) and (max-width: 900px) {
    .ans-content {
        width: 80%;
    }
}
